@page
@model GardaVettingSystem.Pages.Applicants.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Applicant</h1>

<h4 class="text-danger">Are you sure you want to delete @Model.Applicant.FullName?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-12 col-md-4">
            @Html.DisplayNameFor(model => model.Applicant.FirstName)
        </dt>
        <dd class="col-12 col-md-8">
            @Html.DisplayFor(model => model.Applicant.FirstName)
        </dd>
        <dt class="col-12 col-md-4">
            @Html.DisplayNameFor(model => model.Applicant.LastName)
        </dt>
        <dd class="col-12 col-md-8">
            @Html.DisplayFor(model => model.Applicant.LastName)
        </dd>
        <dt class="col-12 col-md-4">
            @Html.DisplayNameFor(model => model.Applicant.BirthLastName)
        </dt>
        <dd class="col-12 col-md-8">
            @Html.DisplayFor(model => model.Applicant.BirthLastName)
        </dd>
        <dt class="col-12 col-md-4">
            @Html.DisplayNameFor(model => model.Applicant.MothersLastName)
        </dt>
        <dd class="col-12 col-md-8">
            @Html.DisplayFor(model => model.Applicant.MothersLastName)
        </dd>
        <dt class="col-12 col-md-4">
            @Html.DisplayNameFor(model => model.Applicant.Gender)
        </dt>
        <dd class="col-12 col-md-8">
            @Html.DisplayFor(model => model.Applicant.Gender)
        </dd>
        <dt class="col-12 col-md-4">
            @Html.DisplayNameFor(model => model.Applicant.DateOfBirth)
        </dt>
        <dd class="col-12 col-md-8">
            @Model.Applicant.DateOfBirth?.ToString("d")
        </dd>
        <dt class="col-12 col-md-4">
            @Html.DisplayNameFor(model => model.Applicant.BirthPlace)
        </dt>
        <dd class="col-12 col-md-8">
            @Html.DisplayFor(model => model.Applicant.BirthPlace)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Applicant.ApplicantNumber" />
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i> Delete
            </button>
            <a asp-page="./Details" asp-route-id="@Model.Applicant.ApplicantNumber" class="btn btn-secondary btn-sm">
                <i class="bi bi-arrow-left"></i> Cancel
            </a>
        </div>
    </form>
</div>
