@page
@model GardaVettingSystem.Pages.Applicants.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Applicant[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicant[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicant[0].BirthLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicant[0].MothersLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicant[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicant[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicant[0].BirthPlace)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Applicant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MothersLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @item.DateOfBirth?.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthPlace)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ApplicantNumber" class="btn btn-secondary btn-sm">
                        <i class="bi bi-person-lines-fill"></i>Details
                </a>
                <a asp-page="./Edit" asp-route-id="@item.ApplicantNumber" class="btn btn-primary btn-sm">
                        <i class="bi bi-pencil-fill"></i> Edit
                </a>
                <a asp-page="./Delete" asp-route-id="@item.ApplicantNumber" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash-fill"></i> Delete
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
