@page
@model GardaVettingSystem.Pages.AccessCodes.DeleteModel

@{
    ViewData["Title"] = "Revoke Access Code";
}

<h1>Revoke Access Code</h1>
<h4 class="text-danger">Are you sure you want to revoke this access code?</h4>
<p class="text-muted">The code will be deactivated and the organisation will no longer be able to use it to access your data.</p>
<hr />
<dl class="row">
    <dt class="col-12 col-md-4">
        @Html.DisplayNameFor(model => model.AccessCode.Code)
    </dt>
    <dd class="col-12 col-md-8">
        <strong>@Html.DisplayFor(model => model.AccessCode.Code)</strong>
    </dd>
    <dt class="col-12 col-md-4">
        @Html.DisplayNameFor(model => model.AccessCode.OrganisationName)
    </dt>
    <dd class="col-12 col-md-8">
        @Html.DisplayFor(model => model.AccessCode.OrganisationName)
    </dd>
    <dt class="col-12 col-md-4">
        @Html.DisplayNameFor(model => model.AccessCode.CreatedDate)
    </dt>
    <dd class="col-12 col-md-8">
        @Model.AccessCode.CreatedDate.ToString("d")
    </dd>
    <dt class="col-12 col-md-4">
        @Html.DisplayNameFor(model => model.AccessCode.ExpiryDate)
    </dt>
    <dd class="col-12 col-md-8">
        @(Model.AccessCode.ExpiryDate.HasValue? Model.AccessCode.ExpiryDate.Value.ToString("d") : "No expiry")
    </dd>
</dl>

<form method="post">
    <input type="hidden" asp-for="AccessCode.AccessCodeId" />
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-danger btn-sm">
            <i class="bi bi-x-circle-fill"></i> Revoke
        </button>
        <a asp-page="/Applicants/Details" asp-route-id="@Model.AccessCode.ApplicantNumber" class="btn btn-secondary btn-sm">
            <i class="bi bi-arrow-left"></i> Cancel
        </a>
    </div>
</form>
